/*
* @Author: Administrator
* @Date:   2017-09-30 11:48:20
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-10 10:21:21
*/
*{margin:0;

  padding:0;

list-style:none;

font-family:“微软雅黑”  “宋体”,sans-serif;}

a{text-decoration:none;

}

body{

background-color:#ffffff;

}

img{

border:0;

}
